@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?vhjgjr");
  src: url("../fonts/icomoon.eot?vhjgjr#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?vhjgjr") format("truetype"), url("../fonts/icomoon.woff?vhjgjr") format("woff"), url("../fonts/icomoon.svg?vhjgjr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-Cart:before {
  content: "\e900";
  color: #aaa; }

.icon-compare:before {
  content: "\e901";
  color: #ccc; }

.icon-delivery:before {
  content: "\e902";
  color: #ccc; }

.icon-eye:before {
  content: "\e903";
  color: #888; }

/** Grid variables **/
.container {
  max-width: 960px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto; }
  .container--nopad {
    padding-left: 0;
    padding-right: 0; }

.full-container {
  width: 100%;
  padding: 0 10px; }

.row:before, .row:after {
  content: '';
  display: table;
  clear: both; }

.col-nopad {
  padding-right: 0;
  padding-left: 0; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 960px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none; }

.show {
  display: block; }

/* Basic styles */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; }

html, body {
  font-family: "Lato", sans-serif;
  color: #333;
  font-weight: 400;
  line-height: 1;
  background: #fff; }

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

.btn {
  position: relative;
  display: inline-block;
  padding: 7px 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  background: transparent;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  -o-transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  color: #fff;
  border: 2px solid #fff; }
  .btn:hover, .btn:focus {
    background: #fff;
    color: #fe396a; }
  .btn:active {
    background: rgba(255, 255, 255, 0.8); }
  .btn:focus {
    outline: none; }
  .btn--sale {
    float: right;
    padding: 8px 16px;
    margin-top: 8px;
    font-size: 10px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fe396a;
    border: 2px solid #fe396a; }
    .btn--sale:hover, .btn--sale:focus {
      background: #fe396a;
      color: #fff; }
    .btn--sale:active {
      background: rgba(254, 57, 106, 0.8); }
  .btn--mail {
    float: right;
    padding: 8px 25px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border: 2px solid #fff; }
    .btn--mail:hover, .btn--mail:focus {
      background: #fff;
      color: #fe396a; }
    .btn--mail:active {
      background: rgba(255, 255, 255, 0.8); }
  .btn--read {
    display: inline;
    padding: 2px 10px;
    font-size: 12px;
    color: #888;
    background-color: #e1e1e1; }

/* == Fist Slide == */
/* Header */
.header {
  width: 100%;
  padding: 22px 0;
  background: transparent; }
  .header .logo {
    float: left; }

.menu {
  float: right;
  text-align: left;
  padding-top: 13px; }
  .menu__list {
    list-style: none;
    padding-left: 0; }
  .menu__item {
    float: left;
    margin-right: 15px; }
  .menu__link {
    display: inline-block;
    padding: 5px 0;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 0.02em;
    font-weight: 700;
    text-align: left; }
    .menu__link:hover, .menu__link:focus {
      outline: none;
      color: #fe396a; }

/* For responsive menu*/
#show_menu {
  position: absolute;
  z-index: -1;
  opacity: 0;
  float: right;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s; }
  #show_menu:focus {
    outline: none; }

/*end for responsive menu**/
/* Responsive menu hamburger*/
.my-hamburger {
  background-color: transparent; }
  .my-hamburger span {
    display: block;
    position: absolute;
    top: 21px;
    left: 9px;
    right: 9px;
    height: 4px;
    background: #000;
    -webkit-transition: background 0s 0.3s;
    -o-transition: background 0s 0.3s;
    transition: background 0s 0.3s; }
    .my-hamburger span:before, .my-hamburger span:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000;
      content: ""; }
    .my-hamburger span:before {
      top: -10px; }
    .my-hamburger span:after {
      bottom: -10px; }
    .my-hamburger span:before {
      -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s 0s;
      transition: top 0.3s 0.3s, -webkit-transform 0.3s 0s;
      -o-transition: top 0.3s 0.3s, transform 0.3s 0s;
      transition: top 0.3s 0.3s, transform 0.3s 0s;
      transition: top 0.3s 0.3s, transform 0.3s 0s, -webkit-transform 0.3s 0s; }
    .my-hamburger span:after {
      -webkit-transition: bottom 0.3s 0.3s, -webkit-transform 0.3s 0s;
      transition: bottom 0.3s 0.3s, -webkit-transform 0.3s 0s;
      -o-transition: bottom 0.3s 0.3s, transform 0.3s 0s;
      transition: bottom 0.3s 0.3s, transform 0.3s 0s;
      transition: bottom 0.3s 0.3s, transform 0.3s 0s, -webkit-transform 0.3s 0s; }

/* состояние OPEN при открытом меню  */
.my-hamburger.open span {
  background: none; }
  .my-hamburger.open span:before {
    top: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: top 0.3s 0s, -webkit-transform 0.3s 0.3s;
    transition: top 0.3s 0s, -webkit-transform 0.3s 0.3s;
    -o-transition: top 0.3s 0s, transform 0.3s 0.3s;
    transition: top 0.3s 0s, transform 0.3s 0.3s;
    transition: top 0.3s 0s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s; }
  .my-hamburger.open span:after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: bottom 0.3s 0s, -webkit-transform 0.3s 0.3s;
    transition: bottom 0.3s 0s, -webkit-transform 0.3s 0.3s;
    -o-transition: bottom 0.3s 0s, transform 0.3s 0.3s;
    transition: bottom 0.3s 0s, transform 0.3s 0.3s;
    transition: bottom 0.3s 0s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s; }

/* END Responsive menu hamburger*/
.wrapper-info {
  background: #b5adc8 url("../img/first-slide-bg.jpg") no-repeat center center;
  background-size: cover; }

.first-slide-content {
  padding-top: 252px;
  padding-left: 39px;
  padding-bottom: 49px;
  width: 50%;
  color: #fff;
  text-align: left; }
  .first-slide-content__text {
    font-size: 10px;
    line-height: 3;
    letter-spacing: 0.2em;
    font-weight: 700;
    text-transform: uppercase; }
  .first-slide-content__title {
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.02em;
    text-transform: uppercase; }

.info-slide {
  padding: 2px 0; }
  .info-slide__wrapper {
    position: relative;
    margin: auto; }
  .info-slide__content {
    position: absolute;
    left: 27px;
    bottom: 27px; }
    .info-slide__content h3 {
      margin-bottom: 10px;
      font-size: 26px;
      font-weight: 300;
      letter-spacing: 0.02em;
      line-height: 1.12;
      text-transform: uppercase;
      color: #fff; }
  .info-slide .row {
    margin-left: -1px;
    margin-right: -1px; }
  .info-slide .col-nopad {
    padding-right: 1px;
    padding-left: 1px; }

.shipment {
  padding: 0 20px;
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 50px;
  vertical-align: middle; }
  .shipment div {
    display: inline-block; }
  .shipment__img {
    display: inline-block;
    -webkit-transform: translateY(8px);
        -ms-transform: translateY(8px);
            transform: translateY(8px); }
  .shipment__text1 {
    font-weight: 700;
    padding: 0 15px; }
  .shipment__text2 {
    color: #ccc;
    font-size: 11px;
    text-transform: none;
    padding: 0 15px; }
  .shipment a {
    float: right;
    color: #fff; }
    .shipment a:hover {
      color: #fe396a; }

/* END == First-slide == */
/* == Catalog == */
.slide-catalog {
  background-color: #f8f8f8;
  text-align: center; }
  .slide-catalog .container--nopad:first-child {
    padding-top: 20px; }

.title {
  margin-bottom: 20px;
  background-color: #fff;
  font-size: 18px;
  line-height: 2.5;
  letter-spacing: 0.04em;
  text-transform: uppercase; }

.product-card {
  margin-bottom: 20px;
  background-color: #fff;
  cursor: pointer; }
  .product-card:hover .product-card__info {
    background-color: #444; }
  .product-card:hover .product-card__name {
    color: #f8f8f8; }
  .product-card:hover .wrapper-price {
    border-top: 1px #555 solid;
    border-bottom: 1px #555 solid; }
  .product-card:hover .product-card__add {
    opacity: 1; }
  .product-card:hover .card-icon {
    color: #888; }
  .product-card:hover .wrapper-link a {
    color: #aaa; }
  .product-card__photo {
    margin: auto; }
  .product-card__info {
    padding: 7px 25px 13px 25px;
    text-align: left;
    background-color: transparent;
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease; }
  .product-card__name {
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 1.17;
    color: #333;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }
  .product-card__price {
    font-size: 18px;
    font-weight: 700;
    color: #fe396a;
    letter-spacing: 0.05em; }
  .product-card__add {
    float: right;
    margin-right: 10px;
    font-size: 18px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease; }

.ribbon {
  float: left;
  padding: 8px 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px; }
  .ribbon--red {
    background-color: #fe396a; }
  .ribbon--green {
    background-color: #a0dc61; }
  .ribbon--blue {
    background-color: #5ac3d6; }
  .ribbon--purple {
    background-color: #c05ecc; }
  .ribbon--news {
    float: right;
    padding: 8px 10px;
    text-transform: none; }

.wrapper-price {
  border-top: 1px #f7f6f7 solid;
  border-bottom: 1px #f7f6f7 solid;
  padding: 12px 0;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.card-icon {
  float: right;
  padding: 5px 0px;
  color: #ccc;
  font-size: 16px;
  line-height: 1;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }
  .card-icon span {
    padding: 0 5px; }

.wrapper-link {
  text-align: center; }
  .wrapper-link a {
    color: #666;
    letter-spacing: 0.05em;
    font-size: 10px;
    text-transform: uppercase; }

.container-mb {
  margin-bottom: 20px; }

.mail {
  padding: 20px 30px 33px;
  background-color: #5ac3d6;
  text-align: left;
  color: #fff; }
  .mail__text {
    margin-bottom: 10px;
    font-size: 26px;
    letter-spacing: 0.02em;
    font-weight: 300; }

/* END == Catalog == */
/* == News == */
.slide-news {
  background-color: #f8f8f8;
  text-align: center; }
  .slide-news .container--nopad:first-child {
    padding-top: 20px; }

.news-block {
  padding: 0 20px 14px 20px;
  margin-bottom: 20px;
  background-color: #fff; }
  .news-block__wrapper-img {
    float: left;
    width: 32%; }
  .news-block__content {
    float: left;
    width: 68%;
    padding-left: 20px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.02em;
    color: #666; }
  .news-block__title {
    font-size: 18px;
    line-height: 1.22; }
  .news-block__date {
    font-size: 10px;
    line-height: 1.6;
    color: #ccc; }
  .news-block__text {
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 1.33; }

.post-info {
  text-align: right;
  font-size: 10px;
  color: #ccc; }
  .post-info > i {
    display: inline-block;
    margin-right: 5px;
    line-height: 26px; }
  .post-info > span {
    display: inline-block;
    margin-right: 10px;
    line-height: 26px; }

/* END == News == */
/* == Advantages == */
.advantages {
  padding: 45px 70px 50px 0;
  background-color: #c05ecc;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.02em; }
  .advantages__title {
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: 300; }

.tabs {
  text-align: left; }
  .tabs__caption {
    padding: 0;
    margin-top: 26px;
    list-style: none;
    width: 34.83%;
    float: left; }
    .tabs__caption .active {
      background-color: #9a4ba3; }
      .tabs__caption .active:after {
        border-left-color: #9a4ba3; }
      .tabs__caption .active span {
        border-bottom: 1px dashed transparent; }
    .tabs__caption li {
      position: relative;
      padding: 12px 0 12px 48px;
      background-color: transparent;
      font-size: 16px;
      cursor: pointer;
      -webkit-transition: background-color 0.5s ease, color 0.5s ease;
      -o-transition: background-color 0.5s ease, color 0.5s ease;
      transition: background-color 0.5s ease, color 0.5s ease; }
      .tabs__caption li:hover {
        color: #69ffee; }
      .tabs__caption li:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(154, 75, 163, 0);
        border-left-color: transparent;
        border-width: 20px;
        margin-top: -20px;
        -webkit-transition: border-left-color 0.5s ease;
        -o-transition: border-left-color 0.5s ease;
        transition: border-left-color 0.5s ease; }
      .tabs__caption li span {
        border-bottom: 1px dashed #fff; }
  .tabs__content {
    display: none;
    float: left;
    width: 60%;
    padding: 25px 20px;
    margin-left: 40px;
    text-align: justify;
    border-radius: 10px;
    background-color: rgba(154, 75, 163, 0.7); }
    .tabs__content.active {
      display: block; }
    .tabs__content p {
      font-size: 14px;
      line-height: 1.57;
      margin-bottom: 15px; }
    .tabs__content p:last-child {
      margin-bottom: 0; }

/* == END Advantages == */
/* == Brands == */
.brands {
  padding: 30px 90px; }

/* Стили для Слик слайдера */
/* Кнопки переключатели*/
.slick-slide img {
  margin: auto; }

.slick-slide:focus {
  outline: none; }

.slick-prev, .slick-next {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 40px; }
  .slick-prev:hover, .slick-next:hover {
    opacity: 0.8; }
  .slick-prev:focus, .slick-next:focus {
    outline: none; }

.slick-prev-brands, .slick-next-brands {
  color: #ddd;
  top: 0; }

.slick-prev-brands {
  left: -85px; }

.slick-next-brands {
  right: -85px; }

/* == End Brands == */
/* == Footer == */
.slide-headings {
  padding: 30px 0 15px;
  background-color: #333333; }

.headings {
  padding-left: 10px;
  margin-bottom: 20px;
  font-weight: 700; }
  .headings__title {
    margin-bottom: 4px;
    color: #cccccc;
    font-size: 12px;
    text-transform: uppercase; }
  .headings__list {
    padding: 0;
    list-style: none; }
  .headings__item a {
    color: #999999;
    font-size: 11px;
    line-height: 1.9;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }
    .headings__item a:hover {
      color: #fff; }

.slide-contact {
  padding: 30px 0 15px;
  background-color: #222222; }

.contact {
  padding-left: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 12px; }
  .contact__title {
    margin-bottom: 4px;
    color: #888888;
    font-size: 12px; }
  .contact p {
    color: #666666;
    line-height: 1.8;
    font-size: 11px; }
  .contact .payment-card i {
    font-size: 55px;
    color: #666666; }

.social-block {
  font-size: 15px; }
  .social-block__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 50%;
    color: #393939;
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
    .social-block__icon:last-child {
      margin-right: 0; }
    .social-block__icon:hover {
      -webkit-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
              transform: translateY(-5px); }
      .social-block__icon:hover .fa-stack-1x {
        color: #fff; }
    .social-block__icon .fa-stack-1x {
      color: #656565;
      -webkit-transition: color 0.5s ease;
      -o-transition: color 0.5s ease;
      transition: color 0.5s ease; }
    .social-block__icon .fa-stack-2x {
      color: #393939; }

.copyright {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 5px;
  color: #555;
  font-size: 11px;
  font-weight: 700; }

.menu-foter {
  text-align: left;
  margin-bottom: 10px; }
  .menu-foter__list {
    list-style: none;
    padding-left: 0; }
  .menu-foter__item {
    float: left;
    margin-right: 30px; }
  .menu-foter__link {
    display: inline-block;
    color: #555;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 0.02em;
    font-weight: 700; }
    .menu-foter__link:hover, .menu-foter__link:focus {
      outline: none;
      color: #fff; }

/* == Media  == */
@media (max-width: 959px) {
  .btn--sale {
    display: none; }
  .menu__item {
    margin-right: 10px; }
  .first-slide-content {
    padding-top: 180px; }
  .shipment {
    padding: 0 10px; }
    .shipment__text1, .shipment__text2 {
      padding: 0 5px; }
  .mail__text {
    font-size: 21px; }
  .news-block__content {
    padding-left: 5px; }
  .advantages {
    padding: 35px 0; }
  .tabs__caption li {
    padding: 12px 0 12px 10px; }
  .tabs__content {
    margin-left: 25px; }
  .brands {
    padding: 30px 30px; }
  .brands-slide {
    margin-right: 10px; }
  .slick-prev-brands,
  .slick-next-brands {
    width: 15px; }
  .slick-prev-brands {
    left: -20px; }
  .slick-next-brands {
    right: -20px; }
  .slick-slide img {
    margin: auto; }
  .slide-headings {
    padding: 30px 0 0; }
  .headings, .contact {
    padding-left: 0; }
  .social-block__icon {
    margin-right: 0; }
  .copyright {
    padding-left: 0; } }

@media (max-width: 767px) {
  .header {
    padding: 10px 0; }
  #show_menu {
    position: relative;
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease; }
  .menu {
    position: absolute;
    opacity: 0;
    -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    display: block;
    top: 65px;
    width: 100%;
    right: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.8);
    text-align: center; }
    .menu.open {
      -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 1; }
    .menu.animation {
      -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
      transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
      -o-transition: transform 0.5s ease, opacity 0.5s ease;
      transition: transform 0.5s ease, opacity 0.5s ease;
      transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease; }
    .menu__item {
      display: block;
      float: none;
      padding: 0;
      margin-right: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.6); }
    .menu__link {
      width: 100%;
      text-align: center;
      padding: 10px 0;
      font-size: 15px; }
  .first-slide-content {
    padding-top: 45px; }
    .first-slide-content__title {
      font-size: 20px; }
  .info-slide .col-nopad {
    text-align: center; }
  .info-slide__wrapper {
    display: inline-block; }
  .info-slide__content h3 {
    font-size: 20px; }
  .shipment {
    line-height: 30px; }
    .shipment div, .shipment__text2 {
      float: left;
      width: 100%; }
  .mail__text {
    display: block;
    font-size: 20px; }
  .mail {
    padding: 20px 30px; }
  .btn--mail {
    float: none; }
  .advantages {
    padding: 20px 0; }
    .advantages__title {
      margin-bottom: 15px;
      font-size: 20px; }
  .tabs__caption {
    margin-top: 15px;
    width: 31%; }
    .tabs__caption li {
      font-size: 14px;
      line-height: 1.3; }
      .tabs__caption li:after {
        left: 0%;
        border-width: 0;
        margin-top: 0; }
      .tabs__caption li span {
        border-bottom: none; }
  .tabs__content {
    margin-left: 15px;
    width: 63%;
    padding: 15px; }
  .menu-foter__item {
    margin-right: 15px; } }

@media (max-width: 480px) {
  [class*="col-"],
  [class^="col-"] {
    width: 100%; }
  .header .col-xs-9 {
    width: 75%; }
  .first-slide-content {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    width: 60%; }
  .first-slide-content__title {
    margin-bottom: 15px;
    line-height: 1.2; }
  .advantages {
    display: none; }
  .news-block__top {
    margin-bottom: 5px; }
  .news-block__wrapper-img, .news-block__content {
    width: 100%; }
  .news-block__photo {
    margin: auto; } }
