$main-font: 'Lato', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$font-color: #333;
$second-color: #fff;
$hover-color: #fe396a;
$font-size: 16px;
$font-height: 1; //line-height
$font-weight: 400;
$main-color-bg: #fff;
$second-color-bg: #f8f8f8;

/** Grid variables **/
$container-width: 960px;
$col-padding: 10px;